[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "parsers/tree-sitter-c"]
	path = parsers/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
